/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #424242;
	line-height: 1.4;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}

.container {
	margin: 2em auto;
	max-width: 630px;
	text-align: center;
}


/* The following font information and color codes are provided for you.  They do not match the prototype exactly, but they are fine to use for the assignment and doing so does not count against you.  They are simply meant to help you save time.  We would like everyone to have as close to a pixel-perfect match to the prototype as possible.  If you do find a font/color that matches more precisely, please share it with the team so we can improve the activity for future applicants.  Thank you!  Happy coding!

	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;

  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/
.whole-thing {
	margin: auto;
	width: 260px;

}

.top-gray-box {

	Margin-bottom: 10px;
	background: #424242;
	padding: 10px;
	border-radius: 3px;
	text-align: center;
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;



}

.still-needed {
	justify-self: center;
	color: white;
	font-size: 15px;

}


.the-progress {
	border: 1px solid #eaeaea;


}

.progress-bar {
	height: 10px;
	background: #EF5F3C;
	width: 75%;

}

.info-box {
	background: white;
	border: 1px solid;
	border-color: #eaeaea;
	text-align: left;
	padding: 14px;
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-size: 14px;
	color: #777;
	border-radius: 0px 0px 2px 2px;


}

#second-p {
	margin-top: 10px;
}

.days {
	color: #EF5F3C;
	font-weight: bold;
}

.dollars {

}

.dollars input[type="text"] {
	display: inline-block;
	width: 100px;
	height: 40px;
	border: 1px solid #eaeaea;
	font-weight: bold;
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-size: 16px;
	border-radius: 3px;
	margin-right: 24.84px;
	margin-top: 10px;
}

.dollars input[type="submit"] {
	background: #1CBC2C;

	color: white;
	padding: 10px;
	border-radius: 4px;
	text-align: center;
	width: 100px;
	height: 40px;
	border: 1px solid #eaeaea;
	font-size: 16px;
	font-weight: bold;
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
}

#give:hover {
	background-color: #66FF66;
}

.why-give {
	font-style: italic;
	color: #20A1D4;
	font-family: font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	margin-top: 5px;
}

.save {
  border: 1px solid #eaeaea;
  color: #777;
	background-color: white;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
	font-size: 11px;
	border-radius: 4px;
	margin-top: 10px;
	font-weight: bold;
	padding: 10px 18px;
}

.tell {
	border: 1px solid #eaeaea;
	color: #777;
	border-radius: 4px;
	background-color: white;
  float: right;
	text-align: center;
	padding: 10px 18px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	font-size: 11px;
	margin-top: 10px;
	font-weight: bold;

}
/* Your CSS code goes here */
